<html>
  <head>
    <title>Top 100 Best Albums of All Time</title>
  </head>
  <body>
  	<h1>Top 100 Best Albums of All Time</h1><br>
    <select onchange="location = this.value;">
    <option>Sort By</option>
   <option value="/orderAlphabetically">Sort Alphabetically</option>
   <option value="/orderByAlbumNameLength">Sort By Album Title Length</option>
   <option value="/">Sort By Rank</option>
   <option value="/orderByYear">Sort By Year</option>
</select>
  <table>
  <tr>
  	<th>Rank</th>
  	<th>Album Title</th>
  	<th>Year</th>
  </tr>
      <% @rankedAlbums.each do |album| %>
  <tr>
   	<td><%= "#{album.rank}" %></td>
   	<td><%= "#{album.albumName}" %></td>
    <td><%= "#{album.year}" %></td>
   	<% end %>
   </tr>
   </table>
  </body>
</html>